.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .search-bar {
    width: 80%;
    margin-bottom: 20px;
  }
  
  .content-list {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  
  .content-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f3e5f5;
    border-radius: 8px;
  }
  
  .content-checkbox {
    margin-right: 10px;
  }
  
  .content-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
  }
  
  .content-info {
    flex: 1;
  }
  
  /* Estilo de FAB extendidos */
  
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  
  
  .button-group {
    display: flex;
    justify-content: center; // Centra los botones horizontalmente
    gap: 550px; // Espacio entre los botones
    margin-top: 20px;
  }
  
  .content-image {
    width: 100px; /* Ajusta según sea necesario */
    height: auto;
    border-radius: 10px;
  }
  