.transacciones-container {
  width: 80%;
  margin: 0 auto;
  text-align: center;

  h1 {
    color: #333;
    margin-bottom: 20px;
  }

  .filtros {
    margin-bottom: 20px;

    label {
      margin-right: 10px;
      font-weight: bold;
    }

    input {
      padding: 5px;
      width: 200px;
    }

    button {
      margin-left: 10px;
      padding: 5px 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #f4f4f4;
    }

    button {
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;

      &:first-child {
        background-color: #007bff;
        color: white;
        margin-right: 5px;
      }

      &:nth-child(2) {
        background-color: #28a745;
        color: white;
        margin-right: 5px;
      }

      &:last-child {
        background-color: #dc3545;
        color: white;
      }

      &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
    }
  }
}
