<p>registro-ventas works!</p>
<div class="contenido">
    <mat-toolbar>
      <span>Registro de Venta</span>
    </mat-toolbar>
  
    <form class="example-form">
      <div class="form-secciones">
        <!-- Bloque de Datos del Cliente -->
        <div class="datos-cliente">
          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Ingrese su nombre completo">
            <mat-icon matSuffix>person</mat-icon> <!-- Ícono al final del input -->
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>DNI</mat-label>
            <input matInput placeholder="Ingrese su DNI">
            <mat-icon matSuffix>badge</mat-icon> <!-- Ícono al final del input -->
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Ingrese su número de teléfono">
            <mat-icon matSuffix>phone</mat-icon> <!-- Ícono al final del input -->
          </mat-form-field>
          
          <mat-form-field appearance="outline">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Ingrese su dirección">
            <mat-icon matSuffix>home</mat-icon> <!-- Ícono al final del input -->
          </mat-form-field>
          
        </div>
  
        <!-- Bloque de Productos -->
        <div class="productos">
          <mat-form-field class="example-full-width">
            <mat-label>Productos</mat-label>
            <mat-select [formControl]="toppings" multiple>
              <mat-option *ngFor="let topping of toppingList" [value]="topping">
                {{ topping }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Cantidad</mat-label>
            <input matInput placeholder="2">
            <mat-icon matSuffix>filter_9_plus</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Total</mat-label>
            <input matInput placeholder="s/300">
            <mat-icon matSuffix>attach_money</mat-icon>
          </mat-form-field>
        </div>
      </div>
  
      <!-- Bloque de Observaciones -->
      <div class="observaciones">
        <mat-form-field appearance="outline">
          <mat-label>Observaciones</mat-label>
          <textarea matInput placeholder="Ingrese observaciones aquí"></textarea>
          <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
      </div>
  
      <!-- Botón Flat -->
      <div class="boton-registrar">
        <button mat-flat-button color="primary" routerLink="/registro-ventas-lista">
          REGISTRAR
        </button>
      </div>
      
  