mat-card {
    margin: 20px;
    padding: 10px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    margin: 10px 5px;
  }
  
  h3 {
    margin-top: 20px;
  }
  
  mat-card-content {
    padding: 10px;
  }
  