<div class="monitoreo-recursos">
  <h1>Monitoreo de Recursos</h1>
  <div class="search-bar">
    <label for="proyecto">Proyecto:</label>
    <input type="text" id="proyecto" [(ngModel)]="proyecto">
    <button (click)="buscarProyecto()">Buscar</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Descripción</th>
        <th>Cantidad Solicitada</th>
        <th>Cantidad Disponible</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let recurso of recursos">
        <td>{{ recurso.tipo }}</td>
        <td>{{ recurso.descripcion }}</td>
        <td>{{ recurso.cantidadSolicitada }}</td>
        <td>{{ recurso.cantidadDisponible }}</td>
        <td>
          <span [ngClass]="{ disponible: recurso.estado === 'Disponible', no-disponible: recurso.estado !== 'Disponible' }">
            {{ recurso.estado }}
          </span>
        </td>
        <td>
          <button (click)="verDetalles(recurso)">Ver Detalles de recursos</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
