.contenido {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; /* Centra horizontalmente */
  }
  
  .form-secciones {
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center; /* Centra horizontalmente */
    max-width: 1200px; /* Limita el ancho total */
    width: 100%; /* Se ajusta al ancho disponible */
  }
  
  .datos-cliente, .productos {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    flex: 1; /* Se expanden proporcionalmente */
    max-width: 400px; /* Aumenta el ancho máximo */
  }
  
  .observaciones {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    max-width: 800px; /* Más ancho para Observaciones */
    margin-top: 20px; /* Separación respecto a los bloques superiores */
  }
  
  mat-form-field {
    width: 100%;
  }
  
  section {
    display: table;
  }
  
  .boton-registrar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  button {
    background-color: #333; /* Color negro */
    color: #fff; /* Color del texto blanco */
    border-radius: 8px; /* Bordes redondeados */
    padding: 12px 24px; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
    font-weight: bold; /* Fuente en negrita */
  }
  
  button:hover {
    background-color: #444; /* Color más claro al pasar el mouse */
  }
  