<div class="container">
    <header>
        <button class="menu-icon">
            <img src="https://i.pinimg.com/736x/fd/22/ad/fd22ada19f69f6734255c6d5da9e9b35.jpg" alt="Ícono de compartir" />
          </button>
      <h2>Confirmación de Envío</h2>
      <div class="user-icon">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzKVthIfiYthRncPbOBr4bA1SFIdExbup_hg&s" alt="Ícono de usuario" />
      </div>
    </header>
  
    <section class="message-section">
      <p class="message-title">Mensaje</p>
      <div class="message-box">TU ENVÍO HA SIDO PROCESADO</div>
    </section>
  
    <section class="tracking-section">
      <p class="tracking-title">Número de seguimiento</p>
      <div class="tracking-box">
        Fecha: xx/xx/xxxx<br />
        Pedido: xxx-xxxxx<br />
        Seguimiento: xxxxxxxxxxxxxxxx
      </div>
    </section>
  
    <div class="action-buttons">
      <button class="share-button">
        <img src="https://e7.pngegg.com/pngimages/929/858/png-clipart-share-icon-computer-icons-sharethis-sharing-button-monochrome-sharing.png" alt="Ícono de compartir" />
      </button>
      <button class="accept-button">Aceptar</button>
    </div>
  </div>
  
  