<div class="container">
    <header>
      <div class="menu-icon">&#9776;</div>
      <h1>Registrar Incidentes</h1>
      <img src="https://c0.klipartz.com/pngpicture/178/595/gratis-png-perfil-de-usuario-iconos-de-computadora-inicio-de-sesion-avatares-de-usuario.png" alt="" />
    </header>
  
    <div class="form-container">
      <div class="form-section">
        <button class="section-button">
          <img src="https://png.pngtree.com/png-vector/20190909/ourmid/pngtree-user-icon-and-symbol-isolated-design-png-image_1727843.jpg" alt="Cliente" />
          Ingrese al Cliente
        </button>
        <div class="form-group">
          <label for="nombres">Nombres:</label>
          <input type="text" id="nombres" />
        </div>
        <div class="form-group">
          <label for="apellidos">Apellidos:</label>
          <input type="text" id="apellidos" />
        </div>
        <div class="form-group">
          <label for="codigo">Codigo:</label>
          <input type="text" id="codigo" />
        </div>
      </div>
  
      <div class="divider"></div>
  
      <div class="form-section">
        <button class="section-button">
          <img src="https://png.pngtree.com/png-vector/20190429/ourlarge/pngtree-mail-icon-vector-illustration-in-line-style-for-any-purpose-png-image_996816.jpg" alt="Contacto" />
          Contacto
        </button>
        <div class="form-group">
          <label for="correo">Correo:</label>
          <input type="email" id="correo" />
        </div>
        <div class="form-group">
          <label for="telefono">Telefono:</label>
          <input type="text" id="telefono" />
        </div>
        <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" />
        </div>
      </div>
    </div>
  
    <button class="register-button">Registrar</button>
  </div>
  